Repository galrosenthal/Football-Workshop, pull requests merged in 2020-05, with the labels that each got.

#43 Add multiple dialog
  .github/labeler.yml
  pom.xml
  src/main/java/GUI/FootballMain.java
  src/main/java/GUI/ModifyUsers.java
  src/main/java/Service/MainController.java
  src/main/java/Service/UIController.java
  src/test/java/DB/CSVEditorTest.java
  src/test/java/DB/DBManagerTest.java
  src/test/java/DB/TableTest.java
Labels: GUI-Related, Service-Related

#45 UC 9.5-9.7 finished, Scheduling algorighm works
  pom.xml
  src/main/java/Domain/EntityManager.java
  src/main/java/Domain/Exceptions/ExistsAlreadyException.java
  src/main/java/Domain/Game/Game.java
  src/main/java/Domain/Game/GamePolicy.java
  src/main/java/Domain/Game/Points.java
  src/main/java/Domain/Game/PointsPolicy.java
  src/main/java/Domain/Game/ScheduleMatch.java
  src/main/java/Domain/Game/SchedulingPolicy.java
  src/main/java/Domain/Game/Score.java
  src/main/java/Domain/Game/Season.java
  src/main/java/Domain/Logger/EventsLogger.java
  src/main/java/Domain/Logger/Goal.java
  src/main/java/Domain/Users/AssociationRepresentative.java
  src/main/java/Service/ARController.java
  src/main/java/Service/UIController.java
  src/test/java/Acceptance/AcceptanceTests.java
  src/test/java/Domain/EntityManagerTest.java
  src/test/java/Domain/Game/GameTest.java
  src/test/java/Domain/Game/PointsPolicyTest.java
  src/test/java/Domain/Game/SchedulingPolicyTest.java
  src/test/java/Domain/Game/TeamStub.java
  src/test/java/Domain/Logger/EventsLoggerTest.java
  src/test/java/Domain/Users/AssociationRepresentativeStub.java
  src/test/java/Domain/Users/AssociationRepresentativeTest.java
  src/test/java/Service/ARControllerTest.java
Labels: Domain-Related, Service-Related

#46 addGameEvents
  src/main/java/Domain/EntityManager.java
  src/main/java/Domain/Game/Game.java
  src/main/java/Domain/Game/Season.java
  src/main/java/Domain/Logger/Card.java
  src/main/java/Domain/Logger/Event.java
  src/main/java/Domain/Logger/EventsLogger.java
  src/main/java/Domain/Logger/Goal.java
  src/main/java/Domain/Logger/Injury.java
  src/main/java/Domain/Logger/Offside.java
  src/main/java/Domain/Logger/Penalty.java
  src/main/java/Domain/Logger/RedCard.java
  src/main/java/Domain/Logger/SwitchPlayers.java
  src/main/java/Domain/Logger/YellowCard.java
  src/main/java/Domain/Users/Player.java
  src/main/java/Domain/Users/Referee.java
  src/main/java/Service/ARController.java
  src/main/java/Service/RefereeController.java
  src/main/java/Service/UIController.java
  src/test/java/Acceptance/AcceptanceTests.java
  src/test/java/Domain/EntityManagerTest.java
  src/test/java/Domain/Game/GameTest.java
  src/test/java/Domain/Game/TeamStub.java
  src/test/java/Domain/Logger/EventsLoggerTest.java
  src/test/java/Domain/Users/SystemUserStub.java
  src/test/java/Service/ARControllerTest.java
  src/test/java/Service/RefereeControllerTest.java
Labels: Domain-Related, Service-Related

#48 Hashed the system user's passwords
  pom.xml
  src/main/java/Domain/EntityManager.java
  src/main/java/Domain/Users/SystemUser.java
  src/test/java/Acceptance/AcceptanceTests.java
  src/test/java/Service/ControllerTest.java
Labels: Domain-Related

#44 Show alert
  pom.xml
  src/main/java/DB/CRUD.java
  src/main/java/DB/DBHandler.java
  src/main/java/Domain/Alert.java
  src/main/java/Domain/Controllers/TeamController.java
  src/main/java/Domain/EntityManager.java
  src/main/java/Domain/Game/Game.java
  src/main/java/Domain/Reports/GameReport.java
  src/main/java/Domain/Subject.java
  src/main/java/Domain/Users/SystemAdmin.java
  src/main/java/Domain/Users/SystemUser.java
  src/main/java/Domain/Users/TeamManager.java
  src/main/java/Domain/Users/TeamOwner.java
  src/main/java/GUI/FootballMain.java
  src/main/java/GUI/GuiInit.java
  src/main/java/GUI/Login/LoginScreen.java
  src/main/java/GUI/ModifyUsers.java
  src/main/java/GUI/RoleRelatedViews/AssociationRepresentative/ARControls.java
  src/main/java/GUI/RoleRelatedViews/TeamOwner/TOControls.java
  src/main/java/Service/AllSubscribers.java
  src/main/java/Service/Controller.java
  src/main/java/Service/MainController.java
  src/main/java/Service/Observer.java
  src/main/java/Service/TOController.java
  src/main/java/Service/UIController.java
  src/test/java/DB/DBHandlerTest.java
Labels: DB-Related, Domain-Related, GUI-Related, Service-Related

#49 Player and Coach fixes
  src/main/java/Domain/Controllers/TeamController.java
  src/main/java/Domain/Game/Asset.java
  src/main/java/Domain/Game/Stadium.java
  src/main/java/Domain/Game/Team.java
  src/main/java/Domain/Users/BelongToTeam.java
  src/main/java/Domain/Users/Coach.java
  src/main/java/Domain/Users/PartOfTeam.java
  src/main/java/Domain/Users/Player.java
  src/main/java/Domain/Users/TeamManager.java
  src/test/java/Domain/Controllers/TeamControllerTest.java
  src/test/java/Domain/Game/AssetStub.java
  src/test/java/Domain/Game/StadiumStub.java
  src/test/java/Domain/Game/StadiumTest.java
  src/test/java/Domain/Game/TeamTest.java
  src/test/java/Domain/Users/BelongToTeamStub.java
  src/test/java/Domain/Users/CoachStub.java
  src/test/java/Domain/Users/CoachTest.java
  src/test/java/Domain/Users/PlayerStub.java
  src/test/java/Domain/Users/PlayerTest.java
  src/test/java/Domain/Users/TeamManagerStub.java
  src/test/java/Domain/Users/TeamManagerTest.java
Labels: Domain-Related

#51 Manage_Game_Events
  src/main/java/Domain/EntityManager.java
  src/main/java/Domain/Game/Game.java
  src/main/java/Domain/Game/Season.java
  src/main/java/Domain/Logger/Event.java
  src/main/java/Domain/Logger/EventsLogger.java
  src/main/java/Domain/Logger/GameEnd.java
  src/main/java/Domain/Logger/Goal.java
  src/main/java/Domain/Users/AssociationRepresentative.java
  src/main/java/Domain/Users/Referee.java
  src/main/java/Domain/Users/RefereeQualification.java
  src/main/java/Service/ARController.java
  src/main/java/Service/MainController.java
  src/main/java/Service/RefereeController.java
  src/main/java/Service/UIController.java
  src/test/java/Acceptance/AcceptanceTests.java
  src/test/java/Domain/Controllers/TeamControllerTest.java
  src/test/java/Domain/EntityManagerTest.java
  src/test/java/Domain/Game/GameTest.java
  src/test/java/Domain/Game/PointsPolicyTest.java
  src/test/java/Domain/Game/SchedulingPolicyTest.java
  src/test/java/Domain/Game/SeasonTest.java
  src/test/java/Domain/Logger/EventsLoggerTest.java
  src/test/java/Domain/Users/AssociationRepresentativeStub.java
  src/test/java/Domain/Users/AssociationRepresentativeTest.java
  src/test/java/Domain/Users/RefereeStub.java
  src/test/java/Domain/Users/RefereeTest.java
  src/test/java/Domain/Users/SystemUserStub.java
  src/test/java/Service/ARControllerTest.java
  src/test/java/Service/RefereeControllerTest.java
Labels: Domain-Related, Service-Related

#50 AddingMoreARControls
  src/main/java/Domain/Controllers/TeamController.java
  src/main/java/Domain/EntityManager.java
  src/main/java/Domain/Exceptions/AlreadyLoggedInUser.java
  src/main/java/Domain/Game/SchedulingPolicy.java
  src/main/java/Domain/Game/Team.java
  src/main/java/GUI/FootballMain.java
  src/main/java/GUI/Login/LoginScreen.java
  src/main/java/GUI/ModifyUsers.java
  src/main/java/GUI/Registration/RegistrationView.java
  src/main/java/GUI/RoleRelatedViews/AssociationRepresentative/ARControls.java
  src/main/java/Service/ARController.java
  src/main/java/Service/AllSubscribers.java
  src/main/java/Service/Controller.java
  src/main/java/Service/MainController.java
  src/main/java/Service/UIController.java
  src/test/java/Domain/Controllers/TeamControllerTest.java
  src/test/java/Service/ControllerTest.java
Labels: Domain-Related, GUI-Related, Service-Related

#55 Produce_Game_Report
  pom.xml
  src/main/java/Domain/Alert.java
  src/main/java/Domain/Game/Game.java
  src/main/java/Domain/Game/Score.java
  src/main/java/Domain/Logger/Card.java
  src/main/java/Domain/Logger/Event.java
  src/main/java/Domain/Logger/GameEnd.java
  src/main/java/Domain/Logger/Goal.java
  src/main/java/Domain/Logger/Injury.java
  src/main/java/Domain/Logger/Offside.java
  src/main/java/Domain/Logger/Penalty.java
  src/main/java/Domain/Logger/RedCard.java
  src/main/java/Domain/Logger/SwitchPlayers.java
  src/main/java/Domain/Logger/YellowCard.java
  src/main/java/Domain/Reports/GameReport.java
  src/main/java/Service/RefereeController.java
  src/main/java/Service/UIController.java
  src/test/java/Acceptance/AcceptanceTests.java
  src/test/java/Domain/Reports/GameReportTest.java
  src/test/java/Service/RefereeControllerTest.java
Labels: Domain-Related, Service-Related

#56 Sign up is working perfectly
  src/main/java/GUI/Registration/RegistrationView.java
  src/main/java/GUI/Registration/ValidatorUser.java
Labels: GUI-Related

#52 Referee gui
  src/main/java/Domain/EntityManager.java
  src/main/java/GUI/FootballMain.java
  src/main/java/GUI/RoleRelatedViews/Referee/RefereeControls.java
  src/main/java/Service/MainController.java
  src/main/java/Service/RefereeController.java
  src/main/java/Service/UIController.java
Labels: Domain-Related, GUI-Related, Service-Related

#54 Logout fixes
  .gitignore
  package-lock.json
  package.json
  pom.xml
  src/main/java/GUI/FootballMain.java
  src/main/java/GUI/ModifyUsers.java
  src/main/java/Service/MainController.java
  src/main/java/Service/UIController.java
Labels: GUI-Related, Service-Related

#58 System boot gui
  src/main/java/Domain/EntityManager.java
  src/main/java/GUI/BootSystem.java
  src/main/java/GUI/FootballMain.java
  src/main/java/GUI/GuiInit.java
  src/main/java/GUI/Welcome.java
  src/main/java/Service/Controller.java
  src/main/java/Service/MainController.java
  src/main/java/Service/UIController.java
Labels: Domain-Related, GUI-Related, Service-Related

#61 Boot fixes
  src/main/java/GUI/FootballMain.java
  src/main/java/Service/Controller.java
  src/main/java/Service/MainController.java
Labels: GUI-Related, Service-Related

#60 TeamOwner and TeamManager fixes
  src/main/java/Domain/Controllers/TeamController.java
  src/main/java/Domain/Users/AssociationRepresentative.java
  src/main/java/Domain/Users/TeamManager.java
  src/main/java/Domain/Users/TeamOwner.java
  src/test/java/Acceptance/AcceptanceTests.java
  src/test/java/Domain/Controllers/TeamControllerTest.java
  src/test/java/Domain/Game/TeamStub.java
  src/test/java/Domain/Users/TeamManagerStub.java
  src/test/java/Domain/Users/TeamOwnerTest.java
  src/test/java/Service/ControllerTest.java
Labels: Domain-Related

#64 Game report gui
  pom.xml
  src/main/java/Domain/Reports/GameReport.java
  src/main/java/GUI/FootballMain.java
  src/main/java/GUI/RoleRelatedViews/Referee/RefereeControls.java
  src/main/java/Service/MainController.java
  src/main/java/Service/RefereeController.java
  src/main/java/Service/UIController.java
  src/test/java/Domain/Reports/GameReportTest.java
Labels: Domain-Related, GUI-Related, Service-Related

#68 Bug fixes
  src/main/java/DB/DBHandler.java
  src/main/java/DB/DBManager.java
  src/main/java/Domain/Alert.java
  src/main/java/Domain/Controllers/TeamController.java
  src/main/java/Domain/EntityManager.java
  src/main/java/Domain/Game/League.java
  src/main/java/Domain/Reports/GameReport.java
  src/main/java/Domain/Subject.java
  src/main/java/Domain/Users/AssociationRepresentative.java
  src/main/java/Domain/Users/PartOfTeam.java
  src/main/java/Domain/Users/Role.java
  src/main/java/Domain/Users/TeamOwner.java
  src/main/java/GUI/About/AboutView.java
  src/main/java/GUI/BootSystem.java
  src/main/java/GUI/FootballMain.java
  src/main/java/GUI/FootballUI.java
  src/main/java/GUI/GuiInit.java
  src/main/java/GUI/Login/LoginScreen.java
  src/main/java/GUI/ModifyUsers.java
  src/main/java/GUI/NotRegiseredView.java
  src/main/java/GUI/Registration/RegistrationView.java
  src/main/java/GUI/Registration/UsernameValidator.java
  src/main/java/GUI/Welcome.java
  src/main/java/Service/AllSubscribers.java
  src/main/java/Service/Controller.java
  src/main/java/Service/MainController.java
  src/main/java/Service/RefereeController.java
  src/main/java/Service/UIController.java
  src/test/java/Service/ControllerTest.java
Labels: DB-Related, Domain-Related, GUI-Related, Service-Related

#69 Gui testing
  package-lock.json
  pom.xml
  src/main/java/Domain/EntityManager.java
  src/main/java/GUI/About/AboutView.java
  src/main/java/GUI/BootSystem.java
  src/main/java/GUI/FootballMain.java
  src/main/java/GUI/Login/LoginScreen.java
  src/main/java/GUI/Registration/RegistrationView.java
  src/main/java/GUI/RoleRelatedViews/AssociationRepresentative/ARControls.java
  src/main/java/GUI/RoleRelatedViews/Referee/RefereeControls.java
  src/main/java/GUI/RoleRelatedViews/TeamOwner/TOControls.java
  src/main/java/GUI/Welcome.java
  src/test/java/GUI/ARControls.java
  src/test/java/GUI/LoginIT.java
  src/test/java/GUI/RefereeControls.java
  src/test/java/GUI/Register.java
  src/test/java/GUI/TOControls.java
Labels: Domain-Related, GUI-Related
