Repository galrosenthal/Football-Workshop, pull requests merged in 2020-04, with the labels that each got.

#4 feature/Create_Java_Project_#21
  .idea/.gitignore
  System/System.iml
  System/pom.xml
  System/src/main/java/Game/Game.java
  System/src/main/java/Game/GamePolicy.java
  System/src/main/java/Game/League.java
  System/src/main/java/Game/PointsPolicy.java
  System/src/main/java/Game/Score.java
  System/src/main/java/Game/Season.java
  System/src/main/java/Game/Stadium.java
  System/src/main/java/Game/Team.java
  System/src/main/java/Logger/Card.java
  System/src/main/java/Logger/Event.java
  System/src/main/java/Logger/EventsLogger.java
  System/src/main/java/Logger/Goal.java
  System/src/main/java/Logger/Injury.java
  System/src/main/java/Logger/Offside.java
  System/src/main/java/Logger/Penalty.java
  System/src/main/java/Logger/RedCard.java
  System/src/main/java/Logger/SwitchPlayers.java
  System/src/main/java/Logger/YellowCard.java
  System/src/main/java/Reports/GameReport.java
  System/src/main/java/Reports/PersonalReport.java
  System/src/main/java/Reports/Report.java
  System/src/main/java/Users/AssociationRepresentor.java
  System/src/main/java/Users/Coach.java
  System/src/main/java/Users/CoachPersonalPage.java
  System/src/main/java/Users/CoachQualification.java
  System/src/main/java/Users/Fan.java
  System/src/main/java/Users/PersonalPage.java
  System/src/main/java/Users/Player.java
  System/src/main/java/Users/PlayerFieldJobs.java
  System/src/main/java/Users/PlayerPersonalPage.java
  System/src/main/java/Users/Refree.java
  System/src/main/java/Users/Registered.java
  System/src/main/java/Users/RegisteredTypes.java
  System/src/main/java/Users/Roles.java
  System/src/main/java/Users/SystemAdmin.java
  System/src/main/java/Users/SystemUser.java
  System/src/main/java/Users/TeamManager.java
  System/src/main/java/Users/TeamOwner.java
  System/src/main/java/Users/Unregistered.java
Labels: help wanted

#12 Delete CoachQualification.java
  System/src/main/java/Users/Coach.java
  System/src/main/java/Users/CoachQualification.java
Labels: User-Related

#13 feature/CSV_DB_init
  .github/labeler.yml
  .github/workflows/maven.yml
  .gitignore
  System/System.iml
  System/pom.xml
  System/src/main/java/DB/CSVEditor.java
  System/src/main/java/DB/DBManager.java
  System/src/main/java/DB/SystemUsers.csv
  System/src/main/java/DB/Table.java
  System/src/main/java/DB/tables.csv
  System/src/main/java/Game/Team.java
  System/src/main/java/Users/AssociationRepresentor.java
  System/src/main/java/Users/Coach.java
  System/src/main/java/Users/Fan.java
  System/src/main/java/Users/Refree.java
  System/src/main/java/Users/Registered.java
  System/src/main/java/Users/Roles.java
  System/src/main/java/Users/SystemAdmin.java
  System/src/main/java/Users/TeamManager.java
  System/src/main/java/Users/Unregistered.java
  System/src/test/java/DB/TableTest.java
  System/src/test/java/Game/GamePolicyTest.java
  System/src/test/java/main/java/DB/CSVEditorTest.java
  lib/javax.annotation.jar
  lib/javax.ejb.jar
  lib/javax.jms.jar
  lib/javax.persistence.jar
  lib/javax.resource.jar
  lib/javax.servlet.jar
  lib/javax.servlet.jsp.jar
  lib/javax.servlet.jsp.jstl.jar
  lib/javax.transaction.jar
  pom.xml
Labels: DB-Related, User-Related

#14 feature/CSV_DB_init
  .gitignore
  System/System.iml
  System/pom.xml
  System/src/main/java/DB/CSVEditor.java
  System/src/main/java/DB/SystemUsers.csv
  System/src/main/java/DB/Table.java
  System/src/main/java/DB/tables.csv
  System/src/test/java/DB/TableTest.java
  System/src/test/java/main/java/DB/CSVEditorTest.java
  pom.xml
  resources/Tables/SystemUsers.csv
  resources/Tables/tablesDetails.csv
  src/main/java/DB/CSVEditor.java
  src/main/java/DB/DBManager.java
  src/main/java/DB/Table.java
  src/main/java/Game/Game.java
  src/main/java/Game/GamePolicy.java
  src/main/java/Game/League.java
  src/main/java/Game/PointsPolicy.java
  src/main/java/Game/Score.java
  src/main/java/Game/Season.java
  src/main/java/Game/Stadium.java
  src/main/java/Game/Team.java
  src/main/java/Logger/Card.java
  src/main/java/Logger/Event.java
  src/main/java/Logger/EventsLogger.java
  src/main/java/Logger/Goal.java
  src/main/java/Logger/Injury.java
  src/main/java/Logger/Offside.java
  src/main/java/Logger/Penalty.java
  src/main/java/Logger/RedCard.java
  src/main/java/Logger/SwitchPlayers.java
  src/main/java/Logger/YellowCard.java
  src/main/java/Reports/GameReport.java
  src/main/java/Reports/PersonalReport.java
  src/main/java/Reports/Report.java
  src/main/java/Users/AssociationRepresentor.java
  src/main/java/Users/Coach.java
  src/main/java/Users/CoachPersonalPage.java
  src/main/java/Users/Fan.java
  src/main/java/Users/PersonalPage.java
  src/main/java/Users/Player.java
  src/main/java/Users/PlayerFieldJobs.java
  src/main/java/Users/PlayerPersonalPage.java
  src/main/java/Users/Refree.java
  src/main/java/Users/Registered.java
  src/main/java/Users/RegisteredTypes.java
  src/main/java/Users/Roles.java
  src/main/java/Users/SystemAdmin.java
  src/main/java/Users/SystemUser.java
  src/main/java/Users/TeamManager.java
  src/main/java/Users/TeamOwner.java
  src/main/java/Users/Unregistered.java
  src/test/java/DB/CSVEditorTest.java
  src/test/java/DB/DBManagerTest.java
  src/test/java/DB/TableTest.java
  src/test/java/Game/GamePolicyTest.java
Labels: DB-Related
